# general
/.venv
/.vscode
/__pycache__

# test files
/testfiles

# macos files
.DS_Store

# apps
/memory
/kitchencontrols

/scripts/*


# app files
config.json

# builds and cache
*.egg-info
**/__pycache__
dist
